body {





    main {
        .weekly-promotion {
            grid-template: min-content / 1fr 1fr;
        }
    }

    
    footer {
        
        div {
            grid-template: min-content / 1fr 1fr;
            grid-auto-rows: min-content;
            row-gap: 10px;
            column-gap: 10px;

            section {
                margin: 5px;
            }
        }
            
    }
}