html, body {
    background-image: url("../images/background.png");
    font-family: 'Lato';
    font-weight: 700;
    font-style: italic;
}

body {
    display: grid;
    grid-template-areas: "nav   "
                         "aside "
                         "main  "
                         "footer";
    grid-template: min-content / 100%;


    header {
        background-color: $purpleColor;
        display: flex;
        align-items: center;

        img {
            width: 60px;
            margin-left: 5px;
        }

        h1 {
            margin-left: 15px;
        }
    }

    nav {
        background-color: $greenColor;

        button {
            display: block;
            width: 100%;
            background-color: $greenColor;
            border: none;
            font-size: 25px;
        }

        ul {
            display: none;
        }

        .logoMenu {
            display: none;
        }

        .open {
            display: block;
            li {
                text-align: center;

                a {
                    text-decoration: none;
                    font-size: 17px;
                }

                padding: 5px 0px;
            }
        }
    }

    main {
        img {
            width: 100%;
        }

        h3 {
            text-align: center;
        }

        hr {
            margin: 5px 0px;
        }

        .weekly-promotion {
            display: grid;
            grid-template: min-content / 1fr;
            grid-auto-rows: min-content;
            row-gap: 5px;

            .cheesecake {
                justify-self: center;
                width: 90%;
                position: relative;
                .description, button {
                    width: 100%;
                }
                .description {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    background-color: rgba(0,0,0,0.5);
                    .title, .price {
                        font-size: 25px;
                        color: #fff;
                    }
                }
                
                button {
                    bottom: 0;
                    background-color: rgba(0,0,0,0.5);
                    font-size: 25px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }
            }   


        }
        margin-bottom: 5px;
    }

    footer {
        
        background-color: $purpleColor;
        div {
            display: grid;
            grid-template: min-content / 1fr;
            grid-auto-rows: min-content;
            row-gap: 10px;
            column-gap: 10px;

            section {
                margin: 5px;
            }
        }
            
    }

}