html  { /*  TEXT ADJUST  */
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
    background-image: url("/html-css-javascript-getting-started-start/images/background.png");
} 

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
}

body {
    max-width: 1024px;
    margin: auto;
}


/*  HEADER RULES  */
header {
    background-color: #9b87b8;
    display: flex;
    height: 10%;
    align-items: center;
}

header > img, header > h1{
    padding-left: 10px;
}
header img {
    width: 20%;
}
header h1 {
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-size: 30px
}

/* NAV RULES */

nav {
    background-color: #4DCFA8;
    color: #9b87b8;
}

nav button {
    border: none;
    color: white;
    background-color: #4DCFA8;
    cursor: pointer;
    font-size: 35px;
    padding: 2px 10px
}

ul {
    display: none;
}

.open {
    display:block;
}


nav a{
    padding: 5px 10px;  
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-weight: 700;
}

a.active  {
    background-color: rgba(0,0,0,0.7);
}

/* MAIN RULES */

main {
    text-align: center;
}

main img {
    width: 100%;
}

main h3 {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}

.title, .price, section > button {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    color: white;
    width: 100%;
}

section {
    position: relative;
    margin: 20px 0px;
}

section img {
    height: 100%;
}

.description {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
}

.description > .title {
    text-align: left;
}

.description > .price {
    text-align: right;
}

section > button {
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    padding: 0px;
    cursor: pointer;
}

