* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box; }

html, body {
  background-image: url("../images/background.png");
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic; }

body {
  display: grid;
  grid-template-areas: "nav   " "aside " "main  " "footer";
  grid-template: min-content / 100%; }
  body header {
    background-color: #9b87b8;
    display: flex;
    align-items: center; }
    body header img {
      width: 60px;
      margin-left: 5px; }
    body header h1 {
      margin-left: 15px; }
  body nav {
    background-color: #4DCFA8; }
    body nav button {
      display: block;
      width: 100%;
      background-color: #4DCFA8;
      border: none;
      font-size: 25px; }
    body nav ul {
      display: none; }
    body nav .logoMenu {
      display: none; }
    body nav .open {
      display: block; }
      body nav .open li {
        text-align: center;
        padding: 5px 0px; }
        body nav .open li a {
          text-decoration: none;
          font-size: 17px; }
  body main {
    margin-bottom: 5px; }
    body main img {
      width: 100%; }
    body main h3 {
      text-align: center; }
    body main hr {
      margin: 5px 0px; }
    body main .weekly-promotion {
      display: grid;
      grid-template: min-content / 1fr;
      grid-auto-rows: min-content;
      row-gap: 5px; }
      body main .weekly-promotion .cheesecake {
        justify-self: center;
        width: 90%;
        position: relative; }
        body main .weekly-promotion .cheesecake .description, body main .weekly-promotion .cheesecake button {
          width: 100%; }
        body main .weekly-promotion .cheesecake .description {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 0;
          background-color: rgba(0, 0, 0, 0.5); }
          body main .weekly-promotion .cheesecake .description .title, body main .weekly-promotion .cheesecake .description .price {
            font-size: 25px;
            color: #fff; }
        body main .weekly-promotion .cheesecake button {
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 25px;
          color: #fff;
          border: none;
          cursor: pointer; }
  body footer {
    background-color: #9b87b8; }
    body footer div {
      display: grid;
      grid-template: min-content / 1fr;
      grid-auto-rows: min-content;
      row-gap: 10px;
      column-gap: 10px; }
      body footer div section {
        margin: 5px; }

@media screen and (min-width: 762px) {
  body main .weekly-promotion {
    grid-template: min-content / 1fr 1fr; }
  body footer div {
    grid-template: min-content / 1fr 1fr;
    grid-auto-rows: min-content;
    row-gap: 10px;
    column-gap: 10px; }
    body footer div section {
      margin: 5px; } }
@media screen and (min-width: 1200px) {
  body {
    grid-template: min-content 1fr min-content/350px minmax(min-content, 60%) 1fr;
    grid-template-areas: "header header header" "nav  main aside" "footer footer footer"; }
    body header {
      grid-area: header; }
    body nav {
      background-color: transparent;
      grid-area: nav; }
      body nav button {
        display: none; }
      body nav #menu {
        display: block;
        height: 100%; }
        body nav #menu .logoMenu {
          display: block; }
        body nav #menu li {
          text-align: center; }
          body nav #menu li a {
            display: block;
            text-decoration: none;
            font-size: 25px;
            padding: 25px 0px; }
          body nav #menu li a:hover {
            background-color: rgba(0, 0, 0, 0.5); }
    body main {
      grid-area: main; }
      body main h3 {
        font-size: 35px; }
      body main .weekly-promotion {
        margin-top: 25px;
        grid-template: min-content / 1fr 1fr 1fr;
        row-gap: 25px; }
    body footer {
      grid-area: footer; } }
