* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
    }

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.menu {
    display: flex;
    background-color: purple;
}

.menu > li {
    padding: 5px 0px;
}

.menu > li > a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* MAIN */

main {
    height: 95%;
    padding: 3em;
    display: flex;
    background-image: url(./images/background.png);
}

aside {
    text-align: center;
    margin: 1em;
}

article {
    margin: 1em;
    padding: 1em;
    height: 100%;
}


.woman {
    width: 100%;
}

article > div {
    padding: 10px;
}

.content-text > p {
    padding-top: 5px;
}

/* PIES */

section {
    display: flex;
    padding-top: 20px;
    height: 100%;
    flex-wrap: wrap;
}

.pie {
    border: solid 2px rgba(255, 206, 239, 0.555);
    background-color: azure;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 10px;
}

.pie > img {
    width: 100%;
    padding: 5px 5px;
}

.pie > .row {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.pie > .row > .title {
    font-weight: bold;
}

.pie > p {
    padding: 10px 5px;
    font-size: 0.8em;
}

.pie > button {
    margin: 5px;
    width: 50px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 206, 239, 0.555);
    border-radius: 5px;
    border: solid 1px  rgba(255, 146, 219, 0.555);
}


